In [133]:
from pathlib import Path
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.pipeline as skpipe
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

import pandas as pd
Path.cwd().parent

WindowsPath('c:/Users/siphe/OneDrive/Desktop/Projects/Student-Success-repo')

In [118]:
# start from the notebook’s working directory
repo_root = Path.cwd().parent          # step up from …/notebooks to project root
csv2_path  = repo_root / "data" / "train_sample.csv"

train = pd.read_csv(csv2_path)
#keotaba mosiks taba ke ena hleka hlm

In [119]:
train

,ID,Industry,Company,Opportunity,Candidate,Gender,Age,Race,Institution,Aggregate,Qualification,Disciplines,Progress,Successful
0,2082,Financial Services,Client A,1,2082,Female,30,Asian,Stellenberg High School,71,National Senior Certificate,NaN,2,False
1,74,Financial Services,Client A,1,74,Female,18,Black,University of Johannesburg,53,Bachelor of Arts,"Journalism, Languages and Linguistics",3,False
2,2151,Financial Services,Client A,1,2151,Female,29,Indian,Stellenberg High School,72,National Senior Certificate,NaN,1,False
3,110,Financial Services,Client A,1,110,Female,24,Asian,Stellenberg High School,55,National Senior Certificate,NaN,2,False
4,1285,Financial Services,Client A,1,1285,Female,24,Black,University of Cape Town,60,Bachelor of Business Science,"Business and Management Studies, Marketing",1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2068,1639,Financial Services,Client A,1,1639,Female,26,Coloured,University of Cape Town,59,Doctor of Philosophy,Geography and Environmental Sciences,2,False
2069,1096,Financial Services,Client A,1,1096,Female,24,Indian,Stellenbosch University,62,Bachelor of Science,"Biological Sciences, Geography and Environment...",2,False
2070,1131,Financial Services,Client A,1,1131,Female,22,Black,Stellenberg High School,66,National Senior Certificate,NaN,1,False
2071,1295,Financial Services,Client A,1,1295,Female,32,Black,Stellenberg High School,65,National Senior Certificate,NaN,5,True
2072,861,Financial Services,Client A,1,861,Female,30,Coloured,Stellenberg High School,55,National Senior Certificate,NaN,2,False

In [120]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2073 entries, 0 to 2072
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             2073 non-null   int64
 1   Industry       2073 non-null   object
 2   Company        2073 non-null   object
 3   Opportunity    2073 non-null   int64
 4   Candidate      2073 non-null   int64
 5   Gender         2073 non-null   object
 6   Age            2073 non-null   int64
 7   Race           2073 non-null   object
 8   Institution    2073 non-null   object
 9   Aggregate      2073 non-null   int64
 10  Qualification  2073 non-null   object
 11  Disciplines    970 non-null    object
 12  Progress       2073 non-null   int64
 13  Successful     2073 non-null   bool
dtypes: bool(1), int64(6), object(7)
memory usage: 212.7+ KB

In [121]:
train.shape

(2073, 14)

In [122]:
train.columns

Index(['ID', 'Industry', 'Company', 'Opportunity', 'Candidate', 'Gender',
       'Age', 'Race', 'Institution', 'Aggregate', 'Qualification',
       'Disciplines', 'Progress', 'Successful'],
      dtype='object')

In [130]:
train.isnull().sum()

ID                  0
Industry            0
Company             0
Opportunity         0
Candidate           0
Gender              0
Age                 0
Race                0
Institution         0
Aggregate           0
Qualification       0
Disciplines      1103
Progress            0
Successful          0
dtype: int64

In [131]:
train.describe()

,ID,Opportunity,Candidate,Age,Aggregate,Progress
count,2073.000000,2073.0,2073.000000,2073.000000,2073.000000,2073.000000
mean,1146.623734,1.0,1146.623734,24.836951,62.534491,1.957549
std,664.628662,0.0,664.628662,4.068957,7.362307,1.218080
min,1.000000,1.0,1.000000,18.000000,50.000000,1.000000
25%,576.000000,1.0,576.000000,21.000000,57.000000,1.000000
50%,1141.000000,1.0,1141.000000,25.000000,62.000000,2.000000
75%,1722.000000,1.0,1722.000000,28.000000,69.000000,3.000000
max,2304.000000,1.0,2304.000000,32.000000,75.000000,5.000000

In [135]:
train.drop(columns=["Company", "ID", "Candidate",'Industry', 'Opportunity'], inplace=True, axis=1)

In [137]:
train

,Gender,Age,Race,Institution,Aggregate,Qualification,Disciplines,Progress,Successful
0,Female,30,Asian,Stellenberg High School,71,National Senior Certificate,NaN,2,False
1,Female,18,Black,University of Johannesburg,53,Bachelor of Arts,"Journalism, Languages and Linguistics",3,False
2,Female,29,Indian,Stellenberg High School,72,National Senior Certificate,NaN,1,False
3,Female,24,Asian,Stellenberg High School,55,National Senior Certificate,NaN,2,False
4,Female,24,Black,University of Cape Town,60,Bachelor of Business Science,"Business and Management Studies, Marketing",1,False
...,...,...,...,...,...,...,...,...,...
2068,Female,26,Coloured,University of Cape Town,59,Doctor of Philosophy,Geography and Environmental Sciences,2,False
2069,Female,24,Indian,Stellenbosch University,62,Bachelor of Science,"Biological Sciences, Geography and Environment...",2,False
2070,Female,22,Black,Stellenberg High School,66,National Senior Certificate,NaN,1,False
2071,Female,32,Black,Stellenberg High School,65,National Senior Certificate,NaN,5,True
2072,Female,30,Coloured,Stellenberg High School,55,National Senior Certificate,NaN,2,False

In [138]:
#columns and encoding here
# categorical_columns = train.select_dtypes(include=['object']).columns.tolist()
# all_columns = train.columns.tolist()
# numerical_columns =  [col for col in all_columns if col not in categorical_columns]
# numerical_columns


# simple_imputer = SimpleImputer(strategy= 'most_frequent')
# categorical_transformer = skpipe.Pipeline(steps=[
#     ('imputer', simple_imputer),
#     ('onehot', OneHotEncoder(handle_unknown='ignore'))
# ])

# numerical_transformer = skpipe.Pipeline(steps=[
#     ('imputer', SimpleImputer(strategy='mean'))]


#     preprocessor = ColumnTransformer(
#     transformers=[('num', numerical_transformer, numerical_columns),
#                   ('cat', categorical_transformer, categorical_columns)])


# train