In [4]:
from pathlib import Path
import pandas as pd

In [ ]:
# start from the notebook’s working directory
repo_root = Path.cwd().parent          # step up from …/notebooks to project root
csv1_path  = repo_root / "data"/ "test_sample.csv"
csv2_path  = repo_root / "data" / "train_sample.csv"

test = pd.read_csv(csv1_path)
train = pd.read_csv(csv2_path)
#keotaba mosiks taba ke ena hleka hlm

In [6]:
test

,ID,Industry,Company,Opportunity,Candidate,Gender,Age,Race,Institution,Aggregate,Qualification,Disciplines
0,1641,Financial Services,Client A,1,1641,Female,21,Black,Stellenbosch University,72,Bachelor of Arts,Land and Property Management
1,509,Financial Services,Client A,1,509,Female,27,Asian,Stellenberg High School,73,National Senior Certificate,NaN
2,1423,Financial Services,Client A,1,1423,Female,31,Coloured,University of Johannesburg,54,Bachelor of Engineering Technology,Mining Engineering
3,45,Financial Services,Client A,1,45,Female,20,Asian,Stellenberg High School,72,National Senior Certificate,NaN
4,1399,Financial Services,Client A,1,1399,Female,18,Black,Stellenberg High School,62,National Senior Certificate,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
225,1747,Financial Services,Client A,1,1747,Female,19,White,University of Johannesburg,66,Bachelor of Engineering Technology,Mining Engineering
226,85,Financial Services,Client A,1,85,Female,18,Asian,Stellenberg High School,56,National Senior Certificate,NaN
227,1744,Financial Services,Client A,1,1744,Female,22,White,Stellenberg High School,52,National Senior Certificate,NaN
228,1403,Financial Services,Client A,1,1403,Female,29,Indian,Stellenberg High School,69,National Senior Certificate,NaN
229,174,Financial Services,Client A,1,174,Female,22,Indian,Stellenberg High School,55,National Senior Certificate,NaN

In [7]:
train

,ID,Industry,Company,Opportunity,Candidate,Gender,Age,Race,Institution,Aggregate,Qualification,Disciplines,Progress,Successful
0,2082,Financial Services,Client A,1,2082,Female,30,Asian,Stellenberg High School,71,National Senior Certificate,NaN,2,False
1,74,Financial Services,Client A,1,74,Female,18,Black,University of Johannesburg,53,Bachelor of Arts,"Journalism, Languages and Linguistics",3,False
2,2151,Financial Services,Client A,1,2151,Female,29,Indian,Stellenberg High School,72,National Senior Certificate,NaN,1,False
3,110,Financial Services,Client A,1,110,Female,24,Asian,Stellenberg High School,55,National Senior Certificate,NaN,2,False
4,1285,Financial Services,Client A,1,1285,Female,24,Black,University of Cape Town,60,Bachelor of Business Science,"Business and Management Studies, Marketing",1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2068,1639,Financial Services,Client A,1,1639,Female,26,Coloured,University of Cape Town,59,Doctor of Philosophy,Geography and Environmental Sciences,2,False
2069,1096,Financial Services,Client A,1,1096,Female,24,Indian,Stellenbosch University,62,Bachelor of Science,"Biological Sciences, Geography and Environment...",2,False
2070,1131,Financial Services,Client A,1,1131,Female,22,Black,Stellenberg High School,66,National Senior Certificate,NaN,1,False
2071,1295,Financial Services,Client A,1,1295,Female,32,Black,Stellenberg High School,65,National Senior Certificate,NaN,5,True
2072,861,Financial Services,Client A,1,861,Female,30,Coloured,Stellenberg High School,55,National Senior Certificate,NaN,2,False

In [9]:
train.columns
train.shape

(2073, 14)